@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Inter:wght@400;700&display=swap');

:root {
  --title: #3c3b3b;
  --secondarytext: #5b5b66;
  --maintext: #646464;
  --cardbg: #fff;
  --pagebg: #f4f4f4;
  --borders: 1px solid #e6e6e6;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  background: var(--pagebg);
  font-family: 'Inter', Sans;
  font-size: 11pt;
  line-height: 1.5;
}

body {
  width: 70%;
  width: min(80ch, 100vw);
  margin: 5% auto;
  padding-bottom: 3rem;
  border: var(--borders);
  background: var(--cardbg);
  color: var(--maintext);
}

#content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.title {
  grid-row: 1;
  grid-column: 1;
  overflow: hidden;
  font-family: 'Raleway', Sans;
  text-transform: uppercase;
  letter-spacing: 0.45rem;
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  color: var(--title);
  padding: 3rem 3rem;
  padding-top: 4rem;
  padding-right: 0;
  margin-bottom: 3rem;
  border-bottom: var(--borders);
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 120%;
  }
}

.title .subtitle {
  font-size: 50%;
  letter-spacing: 0.2rem;
  color: var(--secondarytext);
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  .title  .subtitle{
    font-size: 62.5%;
  }
}

#flag {
  grid-row: 1;
  grid-column: 2;
  border-bottom: var(--borders);
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  padding-right: 3rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
#flag img {
  max-height: 6rem;
  max-width: 6rem;
}

.outline-2 {
  grid-column: 1 / span 2;
  padding: 0rem 3rem;
}

.outline-2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: min(100%, 50vh);
}

h2 {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--secondarytext);
}

.timestamp {
  font-size: 80%;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-right: 0.3rem;
  border: var(--borders);
  padding: 0.1rem 0.3rem;
  background-color: var(--pagebg);
}

a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  color: #0162bc;
}

p {
  margin-bottom: 1.5rem;
}

ul, ol {
  margin-bottom: 1.5rem;
}
li {
  margin-left: 2em;
  margin-bottom: 0.5em;
}